html,body,h1,h2,h3,h4,h5,h6, .name {
    font-family: "Roboto", sans-serif
}

body {
    background-color: rgb(214, 214, 214);
}

.backgroundColor {
    background-color: white;
}

.pageContainer {
    position: relative;
    margin: 0 auto;
    width: 85%;
    padding: 16px;
}

.container {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
}

.container1 {
    padding-right: 16px;
    padding-left: 16px;
   
}

.columns {
    margin-right: 16px;
    color: rgb(0, 153, 153);
    font-size: large;
}

.card {
    box-shadow: 8px 8px 8px 8px #888888;
}

.extraLargeFont {
    font-size: x-large;
}

.experienceTitle {
    opacity: .6;
}

.grid {
    display: flex;
}

.leftGrid, .rightGrid {
    padding: 16px
}

.name {
    padding: 16px;
    background-color: teal;
    color: white;
    
}

.skillTitle {
    color: rgb(95, 95, 95);
    padding-bottom: 16px;
}

.textTeal {
    color: teal
}

.footer {
    background-color: teal;
    text-align: center;
    color: white;
}

/* @media only screen and (min-width: 1000px) {
    .pageContainer {
        position: relative;
        margin: 16px;
        width: 1000px;
        padding: 16px;
    }
  
} */